body{
    background-color: black;
}
.Edit{
    background: linear-gradient(45deg,rgb(9, 9, 10),rgb(28, 6, 137),rgb(14, 14, 217));
    margin-left: 20px;
}
.delete{
    background: linear-gradient(45deg,rgb(9, 8, 8),red,red);
    margin-left: 20px;
}
button{
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
}
#main{
    margin: 50px auto ;
  /*   background: linear-gradient(45deg,black,rgb(29, 6, 161),white,rgb(22, 5, 147),black); */
   box-shadow: 0 0px 5px rgb(243, 241, 241);
    width: 400px;
    height: 400px;

}
input[type=text]{
    margin: 30px;
    width: 200px;
    height: 30px;
    border-radius: 50px;
    box-shadow: 0 0 10px white;
  
}
input[type=button]{
   
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 0 10px white;
    font-weight: bolder;
   
}
h5{
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    background: linear-gradient(45deg,rgb(232, 17, 192),green,yellow);
    padding: 10px;
    border-radius: 50px;
    text-transform: capitalize;

}
pre{
    color: white;
}